*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.login-header, 
.login-footer{
    background:rgb(0,0,255,0.8);
    color:white;
    height:12vh;
}

.login-body{
    height:70vh;
    background:linear-gradient(to right,gray,lightgray);
}

.clientform{
    left:25%;
    top:25%;
    height:50%;
    width:50%;
}

.login-card{
    /* height:50%;
    width:50%;
    left:25%;
    top:25%; */
    
}

.login-column{
    text-align:center;
    top:15%;
}

.login-input{
    width:125px;
    padding:.15em;
    height:20px;
    outline:none;
    background:lightgray;
}


.loginbtn{
    width:100px;
    background:green;
    top:5px;
}

.loginbtn:hover,.active{
    text-decoration:underline;
}


.uploadphotodiv{
    width:100%;
    height:20%;
    outline:1px solid red;
    top:20%;
}

.uploadphotobtn{
    top:25%;
    left:25%;
}

.uploadphotobtn{
    height:50px;
    width:85px;
    border-radius:50%;
    cursor:pointer;
    transition:1s ease;
    text-transform:uppercase;
    outline:none;
}

.uploadphotobtn:hover{
    opacity:.8;
}


.login-footer{
    height:5vh;
    text-align:center;


}


.h1-header{
    left:15%;
}

.h4-header{
    left:35%;
}